.invoices {
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  &__project-select {
    margin-right: 10px;
    border-radius: 10px;
    padding: 8px 16px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
  }

  &__copy-button {
    margin-top: 20px;
    margin-left: auto;
    border-radius: 10px;
    padding: 8px 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    background-color: #fff;
  }
}
